<div class="menu-overlay" [class.open]="isOpen" (click)="closeMenu()"></div>

<aside class="menu-sidebar" [class.open]="isOpen">
  <div class="menu-header">
    <h2>Menu</h2>
    <button class="close-btn" (click)="closeMenu()">
      <fa-icon [icon]="faTimes"></fa-icon>
    </button>
  </div>

  <nav class="menu-list">
    <button
      *ngFor="let item of menuItems"
      class="menu-item"
      (click)="onMenuItemClick(item)"
    >
      <fa-icon [icon]="item.icon"></fa-icon>
      <span>{{ item.label }}</span>
    </button>
  </nav>
</aside>

